{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "quoteStyle": "double",
  "arrowFunctionParentheses": "omit",
  "singleline": true,
  "jsxSingleQuote": true,
  "singleObject": true,
	"insertPragma": true,
	"bracketSameLine": true
}
